#intro {
  background-image: url(/assets/images/Background_Intro.png);
  height: 750px;

  header {
    margin-top: 163px;
  }

  .arrow-icon {
    margin-top: 94px;
    align-self: center;
  }

  #tags {
    margin-top: 80px;
    justify-content: center;
    gap: 16px;

    .min-24 {
      min-height: 24px;
      min-width: 24px;
    }

    div {
      display: flex;
      align-items: center;
    }

    span {
      font: var(--text-md);
      color: var(--gray-500);
    }

    .tag {
      background-color: var(--gray-300);
      gap: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 999px;
      padding: 8px 16px;
    }
  }

}

#projects {
  padding: 72px 120px;
  background-color: var(--gray-200);

  header {
    margin-bottom: 56px;
    p {
      margin-bottom: 8px;
    }
  }

  .cards {
    place-self: center;
    display: grid;
    grid-template-columns: repeat(3, 330px);
    grid-gap: 24px;

    .card {
      padding: 12px;
      background-color: var(--gray-300);
      width: 330px;
      height: 280px;
      border-radius: 12px;
      transition: outline 0.3s ease;

      &:hover {
        outline: 2px solid var(--gray-400);
      }


      img {
        width: 306px;
        height: 156px;
        border-radius: 8px;
        margin-bottom: 15px;
      }




      h3 {
        font: var(--title-sm);
        color: var(--gray-600);
        margin-bottom: 8px;
      }

      figcaption {
        font: var(--text-sm);
        color: var(--gray-500);
      }

      .card-text {
        padding: 4px;
      }
    }
  }

}

#services {
  padding-top: 88px;
  place-items: center;
  background-color: var(--gray-100);
  header {
    p{
      margin-bottom: 8px;
      place-self: center;
    }
  }

  .service-cards {
    display: grid;
    grid-template-columns: repeat(3, 280px);
    gap: 24px;

    .service-card {
      border: 2px solid var(--gray-300);
      border-radius: 12px;
      margin-top: 56px;
      margin-bottom: 120px;
      padding: 20px;
     
      h3 {
        margin-top: 20px;
        margin-bottom: 8px;
        color: var(--gray-600);
        font: var(--title-sm);
      }

      p {
        color: var(--gray-500);
        font: var(--text-sm);
      }
    }
  }
}
